/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

p
  line-height 1.8

@media (prefers-color-scheme: dark)
  :root
    --vff-bg-color #fff !important
    --vff-main-text-color #181818 !important
    --vff-secondary-text-color #999 !important
    --vff-tertiary-text-color #f1f1f1 !important
    --vff-main-accent-color #0dbc79 !important
    --vff-secondary-accent-color #bbebd5 !important