/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

p
  line-height 1.8

@media (prefers-color-scheme: dark)
  :root
    --vff-bg-color #fff
    --vff-main-text-color #181818
    --vff-secondary-text-color #999
    --vff-tertiary-text-color #f1f1f1
    --vff-main-accent-color #0dbc79
    --vff-secondary-accent-color #bbebd5