/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

p
  line-height 1.8

@media (prefers-color-scheme: dark)
  :root
    --vff-bg-color inherit
    --vff-main-text-color inherit
    --vff-secondary-text-color inherit
    --vff-tertiary-text-color inherit
    --vff-main-accent-color inherit
    --vff-secondary-accent-color inherit